<%- include('../partials/header') %>
  <% if (flights.length > 0) { %>
    <table style="width:100%">
            <tr>
              <th>Airline</th>
              <th>Flight Number</th>
              <th>Departure Date</th>
              <th>View Details</th>
              <th>Delete Flight</th>
            </tr>
            <% flights.forEach(function(flight) { %>
            <tr <%- flight.departs <= new Date() ? 'class="passed"' : '' %>>
                <td><%= flight.airline %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs %></td>
                <td><a href="/flights/<%=flight._id%>">Details</a></td>
                <td>
                  <form action="/flights/<%=flight._id%>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
              </td>
            </tr>
            <%})%>
          </table>
    <% } else {%>
      <h1>You Don't Have Any Flights Yet</h1>
      <% } %>
<%- include('../partials/footer') %>